.Images:hover {
	-fx-translate-y: -5px;
}

.SetSlider .axis{
	-fx-tick-label-font-weight: bolder;
	-fx-tick-label-font-size: 13;
	-fx-tick-label-fill: white;
}

.Background{
	-fx-background-image: url('../ressources/gui/risk_pic.png');
	-fx-background-size: 100% 110%
}